.point {
    cursor: pointer;
}

.App {
  text-align: center;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Import the Lovelace font using @font-face */
@font-face {
    font-family: 'Lovelace';
    src: url('./fonts/lovelace.otf') format('opentype');
    /* Add more font formats if necessary */
  }
@font-face {
    font-family: 'BrownSugar';
    src: url('./fonts/brown-sugar.otf') format('opentype');
    /* Add more font formats if necessary */
  }
  
  /* Apply the Lovelace font to the desired elements using the font-Lovelace class */
  .lovelace {
    font-family: 'Lovelace';
  }
  .brown-sugar {
    font-family: 'BrownSugar';
  }